@charset "uft-8";
/*isso resolveu o problema do meu codioo*/

/*usei o class para chamar a tag css no codigo, e tambem oelo propio nome da tag. (usei um pouco de css em line, mas a prioridade e css externo)*/

* {
  box-sizing: border-box;
}

/*essa tag é para o corpo do codigo*/
body {
  font-family: Arial;
  padding: 10px;
  background: #f8f8f8;
}

/*essa tag e para o cabeçalho*/
.header {
  background-color: #fcfcfc;
  text-align: center;
  padding: 30px;
}
img.center{
border-radius: 25px;
}


/*essa tag e para organizar a barra do navegação*/ 
.topnav {
  overflow: hidden;
  background-color: #333;

  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;   
}
 
/*essa tag é organizar a barra do menu*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;   
}
  
 /*essa tag é para organizar a barra do navegação*/ 
.topnav a:hover {
  background-color:#623771;
  color: black;
}
  
 /*essa tag é para coluna do primeiro codigo index (esquerdo)*/ 
.leftcolumn {   
  float: left;
  max-width: 75%;
}

/*essa tag é para coluna do primeiro codigo index (direito)*/
.rightcolumn {
  float: left;
  max-width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/**/
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 30px;
}

img.fakeimg1 {
  background-color: rgb(104, 61, 130);
  width: 100%;
  padding: auto;
}


/**/
.card {
  background-color: white;
  padding: 20px;
  margin-top: 16px;
}

/**/
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*para organizar o paragrafo*/
p.p {
  padding: auto;
  text-align: justify;
 
}

/*essa tag e para a tabela*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
 
/**/
td {
  border: 1px solid #080808;
  padding: 8px;   
}

/**/
th {
  text-align: left;
  background-color: #623771;
  color: white;
  padding: 8px;
}

/**/
tr:nth-child(even) {
  background-color: #dddddd;
}

/**/
tr:hover {
  background-color: #623771;
}
 
/*essa tag e para as colunas da pagina de noticias*/
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 700px;
}

/*essa tag é para o rodapé*/
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  .header {
    width: auto;
    float: none; 
  }
}
/*reponsividade*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/*reponsividade*/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 20px;
  }
}

/*reponsividade*/
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
